{% extends 'base.html' %}

{% block main %}
    <div class="container">
        <h1 class="page-header">Add User</h1>
        <form method="POST" action="{{ url_for('add_user') }}">
            {{ form.csrf_token }}

            <div class="form-group">{{ form.name.label }} {{ form.name(size=20, class="form-control") }}</div>
            <div class="form-group">{{ form.login.label }} {{ form.login(size=20, class="form-control") }}</div>
            <div class="form-group">{{ form.password.label }} {{ form.password(size=20, class="form-control", type="password") }}</div>
            <b>Is admin:</b> <input type="checkbox" name="isadmin" value="matchwithpairs" checked> <br> <br>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
{% endblock %}
