{% extends 'base.html' %}

{% block main %}
<div class="container">
  <h1 class="page-header">Coffee order</h1>
  <form method="POST" action="{{ url_for('add_record') }}">
    {{ form.csrf_token }}
    <div class="form-group">{{ form.coffee_type.label }} {{ form.coffee_type(size=20, class="form-control") }}</div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
</div>
{% endblock %}
