<nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">McDonald's</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="{{ url_for('home') }}">Home</a></li>
            <li><a href="{{ url_for('show_users') }}">Show Users</a></li>
            <li><a href="{{ url_for('show_records') }}">Show Records</a></li>
            <li><a href="{{ url_for('add_user') }}">Add User</a></li>
            <li><a href="{{ url_for('add_record') }}">Add Record</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
</nav>
