{% extends 'base.html' %}

{% block main %}
<div class="container">
  <h1 class="page-header">Login</h1>
  <form method="POST" action="{{ url_for('login') }}">
    {{ form.csrf_token }}
    <div class="form-group">{{ form.login.label }} {{ form.login(size=20, class="form-control") }}</div>
    <div class="form-group">{{ form.password.label }} {{ form.password(size=20, class="form-control", type="password") }}</div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
</div>
{% endblock %}
