{% extends 'base.html' %}

{% block main %}
<div class="container">
  <h1 class="page-header">Show Users</h1>

  <ul>
    {% for user in users %}
    <li>{{ user.name }}</li>
    {% endfor %}
  </ul>
</div>
{% endblock %}
