{% extends 'base.html' %}

{% block main %}
<div class="container">
  <h1 class="page-header">Show Records</h1>

    <form method='get' action="{{ url_for('show_records') }}">
        <input name='by_coffee' type='text' value='' />
    </form>

    <br>

{#    <form method="POST" action="{{ url_for('show_records') }}">#}
{#            {{ filter.csrf_token }}#}
{#            <div class="form-group">{{ filter.by_coffee }} {{ filter.by_coffee(size=20, class="form-control") }}</div>#}
{#            <div class="form-group">{{ filter.by_login }} {{ filter.by_login(size=20, class="form-control") }}</div>#}
{#            <button type="submit" class="btn btn-primary">Submit</button>#}
{#    </form>#}

  <ul>
    {% for record in records %}
        <li><b>Barista:</b> {{ record.user.name }} | <b>Coffee:</b> {{ record.coffee_type }} | <b>Time:</b> {{ record.timestamp }}</li>
    {% endfor %}
  </ul>
</div>
{% endblock %}
